<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game</title>
    <link rel="stylesheet" href="/style.css">
    <script>
        var id = "<%= id %>"
    </script>
    <script src="/wsclient.js" defer></script>
</head>
<body>
    <header>
        <a href="/home">
            <img id="logo" src="/favicon.ico" alt="home">
        </a>
        <h1><%= id %></h1>
    </header>
    <table>
        <thead>
            <tr>
                <th>Nickname</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody id="playerlist"></tbody>
    </table>
    <div>
        <input type="range" min="1" max="<% maxPlayers %>" value="0" id="slider">
        <button onclick="">confirm</button>
    </div>
</body>
</html>