<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutBid</title>
    <link rel="stylesheet" href="/style.css">
    <script>
    var id = "<%= id %>"
    </script>
    <script src="/wsclient.js" defer></script>
  </head>

  <body>
    <header>
      <a href="/home">
        <img id="logo" src="/favicon.ico" alt="home">
      </a>
      <h1><%= id %></h1>
    </header>

    <progress value="0" max="10" id="timer"></progress>

    <table>
      <caption id="readyCounter"></caption>
      <thead>
        <tr>
          <th>Nickname</th>
          <th>StartingPoints</th>
        </tr>
      </thead>
      <tbody id="playerlist"></tbody>
    </table>

    <div id="roundsContainer"></div>

    <div>
      <input type="range" min="0" max="<%= startingStack %>" value="0" class="bidInput" id="slider" onchange="MatchInput(this, document.getElementById('inputBox'))">
      <input type="number" min="0" max="<%= startingStack %>" value="0" class="bidInput" id="inputBox" onchange="MatchInput(this, document.getElementById('slider'))">
      <button onclick="SendWs()" id="bidButton">bid</button>
    </div>

    <div id="notification" class="hidden">info</div>
  </body>
</html>
