<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game</title>
    <script>
        var id = "<%= id %>"
    </script>
    <script src="/wsclient.js" defer></script>
</head>
<body>
    <h1><%= id %></h1>
</body>
</html>